In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
dataset = pd.read_csv('IPhone_Purchase_Records.csv')

In [6]:
dataset = pd.get_dummies(data=dataset)

dataset.head()

   Age  Salary  Purchase Iphone  Gender_Female  Gender_Male
0   19   19000                0              0            1
1   35   20000                0              0            1
2   26   43000                0              1            0
3   27   57000                0              1            0
4   19   76000                0              0            1

In [5]:
X = dataset.drop('Purchase Iphone',axis=1)
y = dataset['Purchase Iphone']

In [9]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score

In [16]:
classification_models =[]
classification_models.append(('Logistic Regression', LogisticRegression()))
classification_models.append(('Decision Tree',DecisionTreeClassifier(criterion='entropy')))
classification_models.append(('Random Forest',RandomForestClassifier(n_estimators=150, criterion='entropy')))
classification_models.append(('Naive Bayes',GaussianNB()))
classification_models.append(('K Nearest Neighbor',KNeighborsClassifier(n_neighbors=10, metric='minkowski')))

iterate the list


crossvlidation (its train and test)

In [17]:
for name, object_of_model in classification_models: 
    result = cross_val_score(estimator=object_of_model,X=X, y=y,cv=10,scoring='accuracy')
    print("%s Mean accuracy of model = %.2f%% " %(name, result.mean()*100))

Logistic Regression Mean accuracy of model = 64.25%
Decision Tree Mean accuracy of model = 84.50%
Random Forest Mean accuracy of model = 88.50%
Naive Bayes Mean accuracy of model = 87.00%
K Nearest Neighbor Mean accuracy of model = 76.00%

here we can see that the best  model is here Random Forest

In [18]:
dataset.shape

(400, 5)